.tablePlanets {
  border: 1px solid black;
  height: 60%;
  width: 100%;
}

.tablePlanets thead th {
  border: 1px solid black;
  height: 60%;
  width: 20%;
}

.tablePlanets tbody td {
  border: 1px solid black;
  height: 60%;
  width: 80%;
}
