.page-header {

  @font-face {
    font-family: StarWars;
    src: url('./fonts/StarJediHollow-A4lL.ttf');
  }
  background-color: black;
  color: $blue-lightsaber;
  display: flex;
  justify-content: space-around;
  max-height: 150px;
  position: fixed;
  top: 0;
  width: 100vw;

  .title-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    justify-content: center;
    position: absolute;
    left: 10px;
  }

  .title {
    margin: 0;
    width: 195px;
  }

  .subtitle {
    color: white;
    margin: 0;
    text-shadow: 0 0 2px white , 0 0 5px white , 0 0 10px white , 0 0 15px $blue-lightsaber , 0 0 20px $blue-lightsaber , 0 0 25px $blue-lightsaber;
  }

  .filters-div {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h4 {
      margin: 0;
    }

    .filters {
      display: flex;
      flex-direction: column;
    }

    .numeric-filters {
      display: flex;
    }
  }

  label {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
  }

  .filter-cards {
    align-items: center;
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    right: 10px;
  }

  .filter-card {
    background-color: white;
    border-radius: 5px;
    display: flex;
    margin: 5px;

    p {
      margin: 0;
      padding: 5px;
    }
  }

  .sort {
    align-items: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: center;

    .input-label {
      flex-direction: row;
    }
  }
}
