* {
  margin: 0;
}

label {
  margin: 10px;
}

input {
  margin: 5px;
  padding: 2px;
}

select {
  margin: 5px;
  padding: 2px;
}

.add-filter-button {
  background-color: rgb(0, 0, 187);
  border: none;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  color: white;
  font-size: medium;
  padding: 7px;
}

.add-filter-button:hover {
  background-color: rgb(26, 26, 209);
}

.loading-div {
  font-family: sans-serif;
  margin-top: 200px;
  text-align: center;
}
