.table, td, th {
  border: 1px solid rgb(218, 218, 218);
  border-collapse: collapse;
  color: rgb(34, 34, 34);
  font-size: 0.85em;
}

td, th {
  padding: 7px 10px;
  text-align: center;
}

table {
  backdrop-filter: blur(10px);  
  position: relative;
  top: 50px
}