.planet-table {
  text-align: center;
  font-family: sans-serif;
  border-collapse: collapse;
  border: 2px solid rgb(150, 150, 150);
  width: 100%;
}

.planet-table td, th {
  border: 1px solid rgb(150, 150, 150);
  padding: 8px;
}