.planets {
  table-layout: auto;
  border-collapse: collapse;
  width: 100%;
}

.planets th {
  background-color: rgb(75, 75, 75);
  color: white;
  text-align: center;
}

.planets td, .planets th {
  border: 1px solid rgb(221, 221, 221);
  padding: 8px;
  text-align: center;
}

.planets td {
  white-space: nowrap;
}

.planets tr {
  background-color: white;
}

.planets tr:nth-child(odd) {
  background-color: rgb(196, 196, 196);  
}
