.used-filters-div {
  margin: 10px;
  text-align: left;
}

.filter-display {
  margin: 5px 0;
}

.filter-display button {
  background-color: rgb(246, 221, 109);
  border: none;
  border-radius: 5px;
  font-size: medium;
  padding: 5px;
}

.filter-display button:hover {
  background-color: orange;
}
