@import url('https://allfont.net/allfont.css?fonts=star-jedi') ;


body {
  background-color: black;
}

.App {
  text-align: center;
}

@font-face {
  font-family: starjout;
  src: url('./images/starjout.ttf');
}

.header {
  background-color: black;
  box-shadow: 0 0 2px #ffff8f , 0 0 8px #ffea00;
  display: flex;
  flex-direction: column;
  font-family: starjout , monospace;
  height: 100px;
  justify-content: center;
  line-height: 2px;
  margin: 0%;
  padding: 0%;
  text-align: center;
  text-shadow: 0 0 2px #ffff8f , 0 0 8px #ffea00 , 0 0 16px #ffea00;
  width: 100%;
}

h1 {
  font-size: 48px;
}

table {
  color: black;
  width: 100%;
}

.table-header {
  background-color: black;
  color: #ffea00;
  font-family: monospace;
  font-size: 10px;
}

th {
  box-shadow: 0 0 2px #ffff8f , 0 0 8px #ffea00 , 0 0 16px #ffea00;
  padding: 2px;
}

.table-body {
  background-color: #ffea00;
  font-size: 10px;
  opacity: 80%;
  text-align: center;
}

td {
  border: 2px;
  font-weight: 600;
  line-height: 20px;
}
