@import url('https://allfont.net/allfont.css?fonts=star-jedi') ;


body {
  background-color: black;
}

.App {
  text-align: center;
}

@font-face {
  font-family: starjout;
  src: url('./images/starjout.ttf');
}

.header {
  background-color: black;
  box-shadow: 0 0 2px #ffff8f , 0 0 8px #ffea00;
  display: flex;
  flex-direction: column;
  font-family: starjout , monospace;
  height: 100px;
  justify-content: center;
  line-height: 2px;
  margin: 0%;
  padding: 0%;
  text-align: center;
  text-shadow: 0 0 2px #ffff8f , 0 0 8px #ffea00 , 0 0 16px #ffea00;
  width: 100%;
}

h1 {
  font-size: 48px;
}
